@font-face
{
	font-family:helvetica-neue;
	src:url(fonts/HelveticaNeue.ttf);
}
@font-face
{
	font-family:helvetica-neue-bold;
	src:url(fonts/HelveticaNeueBold.ttf);
}
@font-face
{
	font-family:myriad-pro-light;
	src:url(fonts/Myriad-Pro-Light_31642.ttf);
}